# Exploratory Notebook on Training Data

Goal: Try to find coorelations:

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
csv_path = os.path.join("..","data","train.csv")
train_data = pd.read_csv(csv_path)

In [3]:
train_data.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [4]:
print("Dataset Shape\nRows:{0}\nColumns:{1}".format(train_data.shape[0],train_data.shape[1]))

Dataset Shape
Rows:200000
Columns:202

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Columns: 202 entries, ID_code to var_199
dtypes: float64(200), int64(1), object(1)
memory usage: 308.2+ MB

In [6]:
train_data.describe()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [7]:
# Why is the mean target so low?
target_df = pd.DataFrame(train_data.target.value_counts())
target_df["Percentage"] = 100*target_df["target"]/train_data.shape[0]
target_df

   target  Percentage
0  179902      89.951
1   20098      10.049

### Worth noting:
- 200,000 rows and 200 columns (excluding target)
- about 90% of the target values are 0. ==> Unbalanced

In [8]:
train_data_var = train_data.var().sort_values(ascending=True).reset_index().rename(columns={0:"Variance"})

In [9]:
train_data_var.head()

     index  Variance
0   var_68  0.000052
1   var_91  0.023299
2  var_108  0.029272
3  var_103  0.034232
4   var_12  0.036123

In [10]:
# sns.set(font_scale=3)
# sns.set_style("darkgrid")
# fig, ax = plt.subplots(figsize=(20,10))
# var_line = sns.lineplot(data=train_data_var["Variance"], ax=ax, linewidth=10)
# ax.set_title("Variance (sorted)", fontsize=30)
# ax.set_xticklabels("")

In [11]:
# train_data_std = train_data.std().sort_values(ascending=True).reset_index().rename(columns={0:"STD"})

In [12]:
# sns.set(font_scale=3)
# sns.set_style("darkgrid")
# fig, ax = plt.subplots(figsize=(20,10))
# var_line = sns.lineplot(data=train_data_std["STD"], ax=ax, linewidth=10, color="red")
# ax.set_title("Standard Deviation (sorted)", fontsize=30)
# ax.set_xticklabels("")

In [13]:
# sns.set(font_scale=1)
# sns.set_style("darkgrid")
# fig, ax = plt.subplots(figsize=(20,10))
# var_scatter = sns.scatterplot(x="var_0", y="var_1", hue="target", data=train_data, ax=ax)
# ax.set_title("Scatter Plot", fontsize=30)

## Take a look at the variable types

In [14]:
# def quick_analysis(df):
#     print("Data Types:")
#     print(df.dtypes)
#     print("Rows and Columns:")
#     print(df.shape)
#     print("Column Names:")
#     print(df.columns)
#     print("Null Values:")
#     print(df.apply(lambda x: sum(x.isnull()) / len(df)).sort_values(ascending=False))
#     print("Unique Values:")
#     print(df.nunique())
# quick_analysis(train_data)

In [15]:
# train_data.loc[:, train_data.dtypes == float].nunique()

### All the columns have float and no null values, but they are not all unique

In [16]:
# train_data_nunique = train_data.loc[:, train_data.dtypes == float].nunique().sort_values(ascending=True).reset_index().rename(columns={0:"nunique"})

# sns.set(font_scale=3)
# sns.set_style("darkgrid")
# fig, ax = plt.subplots(figsize=(20,10))
# var_line = sns.lineplot(data=train_data_nunique["nunique"], ax=ax, linewidth=10, color="green")
# ax.set_title("Unique Values (sorted)", fontsize=30)
# ax.set_xticklabels("")

In [17]:
# train_data_nunique[0:10]

#### Take a look at var_68 for instance

In [18]:
# train_data.var_68.unique()

In [19]:
# Without knowledge of variable names, its impossible to tell the significance a difference between these values is.

## Take a look at some data transforms
- StandardScaler (Has mean of 0 and std of 1)
- MinMaxScaler (Values range from 0 to 1)
- QuantileTransformer (Assign each value to a quantile according to sample size)
- PowerTransform (mean of 0 and unit variance. Adjusts data to account for logarithmic patterns)
- Normalizer (Adjusts data to unit norm to l1 or l2.) mapped to unit circle

In [20]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler, QuantileTransformer, PowerTransformer, Normalizer


from sklearn.svm import SVC
from sklearn.pipeline import Pipeline

In [21]:
scaler = StandardScaler()
minmax = MinMaxScaler()
quantile = QuantileTransformer()
power = PowerTransformer()
normalizer = Normalizer()

In [35]:
# Split into X and y
X = train_data.head(50000).drop(columns=["ID_code", "target"])
y = train_data.head(50000)["target"].values.reshape(-1, 1)

In [36]:
X.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [37]:
X_scaled = minmax.fit_transform(X)
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns.values.tolist())
X_scaled_df.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0.441539,0.295294,0.572522,0.394331,0.517313,0.426455,0.457797,0.588282,0.260413,0.225353,...,0.545001,0.335924,0.597731,0.459709,0.521838,0.284862,0.670041,0.430958,0.316429,0.570479
1,0.578074,0.403910,0.696477,0.417069,0.600823,0.779351,0.541902,0.492675,0.674662,0.560978,...,0.651942,0.536033,0.548447,0.775655,0.357656,0.761194,0.677886,0.468277,0.603988,0.617907
2,0.424774,0.461597,0.583477,0.609410,0.435962,0.430771,0.763329,0.405039,0.260449,0.254852,...,0.493987,0.646234,0.467007,0.459532,0.685452,0.880264,0.215070,0.381950,0.416580,0.593668
3,0.554734,0.486041,0.384694,0.555859,0.621424,0.587426,0.579088,0.419178,0.212096,0.583931,...,0.546042,0.377419,0.382062,0.450511,0.761405,0.406017,0.328619,0.717176,0.584065,0.447231
4,0.489862,0.513551,0.633937,0.512979,0.592949,0.680038,0.595454,0.616825,0.834810,0.502598,...,0.347378,0.631902,0.304608,0.715698,0.243878,0.380060,0.545184,0.586526,0.585493,0.450180

## Now Create this minmax model with a Grid Search in a Pipeline

In [38]:
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
steps = [("min_max_scaler", MinMaxScaler()), ("SVM", SVC())]
pipeline = Pipeline(steps)

In [40]:
parameteres = {'SVM__C': [1, 5],
              'SVM__gamma': [0.00001, 0.0001]}

In [41]:
grid = GridSearchCV(pipeline, param_grid=parameteres, cv=3, verbose=3)

In [42]:
# Fit the model to the grid search... This should take a while:
# grid.fit(X_train, y_train.ravel())

Fitting 3 folds for each of 4 candidates, totalling 12 fits
[CV] SVM__C=1, SVM__gamma=1e-05 ......................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  SVM__C=1, SVM__gamma=1e-05, score=0.8998800059997, total=  50.8s
[CV] SVM__C=1, SVM__gamma=1e-05 ......................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.4min remaining:    0.0s

[CV]  SVM__C=1, SVM__gamma=1e-05, score=0.8998724968124203, total=  50.7s
[CV] SVM__C=1, SVM__gamma=1e-05 ......................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:  2.8min remaining:    0.0s

[CV]  SVM__C=1, SVM__gamma=1e-05, score=0.8998724968124203, total=  53.8s
[CV] SVM__C=1, SVM__gamma=0.0001 .....................................
[CV]  SVM__C=1, SVM__gamma=0.0001, score=0.8998800059997, total=  54.0s
[CV] SVM__C=1, SVM__gamma=0.0001 .....................................
[CV]  SVM__C=1, SVM__gamma=0.0001, score=0.8998724968124203, total=  54.3s
[CV] SVM__C=1, SVM__gamma=0.0001 .....................................
[CV]  SVM__C=1, SVM__gamma=0.0001, score=0.8998724968124203, total=  55.3s
[CV] SVM__C=5, SVM__gamma=1e-05 ......................................
[CV]  SVM__C=5, SVM__gamma=1e-05, score=0.8998800059997, total=  51.3s
[CV] SVM__C=5, SVM__gamma=1e-05 ......................................
[CV]  SVM__C=5, SVM__gamma=1e-05, score=0.8998724968124203, total=  51.0s
[CV] SVM__C=5, SVM__gamma=1e-05 ......................................
[CV]  SVM__C=5, SVM__gamma=1e-05, score=0.8998724968124203, total=  50.6s
[CV] SVM__C=5, SVM__gamma=0.0001 .....................................
[CV]  SVM__C=5, SVM__gamma=0.0001, score=0.8998800059997, total=  56.2s
[CV] SVM__C=5, SVM__gamma=0.0001 .....................................
[CV]  SVM__C=5, SVM__gamma=0.0001, score=0.8998724968124203, total=  55.7s
[CV] SVM__C=5, SVM__gamma=0.0001 .....................................
[CV]  SVM__C=5, SVM__gamma=0.0001, score=0.8998724968124203, total=  53.9s

[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed: 17.2min finished

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=Pipeline(memory=None,
     steps=[('min_max_scaler', MinMaxScaler(copy=True, feature_range=(0, 1))), ('SVM', SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False))]),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'SVM__C': [1, 5], 'SVM__gamma': [1e-05, 0.0001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [43]:
# print(f"Score = {grid.score(X_test,y_test.ravel())}")
# print(grid.best_params_)

Score = 0.9047
{'SVM__C': 1, 'SVM__gamma': 1e-05}

In [45]:
# predictions = grid.predict(X_test)

In [44]:
from sklearn.metrics import classification_report

In [51]:
# print(classification_report(y_test.ravel(), predictions.ravel()))

              precision    recall  f1-score   support

           0       0.90      1.00      0.95      9047
           1       0.00      0.00      0.00       953

   micro avg       0.90      0.90      0.90     10000
   macro avg       0.45      0.50      0.47     10000
weighted avg       0.82      0.90      0.86     10000

C:\Users\mtoriello0725\Anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mtoriello0725\Anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mtoriello0725\Anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

- All predictions came out to be 0. Hence the 90% mark.

https://machinelearningmastery.com/tactics-to-combat-imbalanced-classes-in-your-machine-learning-dataset/

## Will need to Undersample 0's or Oversample 1's:
- Do not need all 200,000 rows if samples some are similar.
- Start by eliminating random entries and see if that makes a difference
- Create an algo to eliminate similar samples... maybe quantize samples and remove any duplicates

# Continued in another notebook: